<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>ToDo List</title>
</head>
<body>
<div class="container">
    <div class="card card-body m-2 ">
        <h4>Entrar</h4>

        <!-- Login form -->
        <form action="/login" method="post">
            <input class="form-control m-1" type="text" name="username" placeholder="Username" required>
            <input class="form-control m-1" type="password" name="password" placeholder="Password" required>
            <div class="text-center">
                <button class="btn btn-light m-1" type="submit">Login</button>
            </div>

            {{ if .Error }}
                <div class="alert alert-danger" role="alert">
                    {{ .Error }}
                </div>
            {{ end }}
        </form>
    </div>
</div>
</body>
</html>
