<html lang="pt-BR"> 
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>{{ .Title }}</title>
	{{ template "head" . }}
</head>
<body>
<div class="container m-3">

	{{ template "navbar" . }}
	
	<!-- Formulário de nova tarefa  -->
	<div class="container m-4">	
		<form class="row g-3"  action="/save-todo" method="post">
			<div class="col-10">
		  		<input type="text" class="form-control" id="description" name="description" placeholder="Descreva o problema">
			</div>
			<div class="col-2">
		  		<button type="submit" class="btn btn-primary mb-3"><i class="bi bi-save">&nbsp;Salvar</i></button>
			</div>
	  	</form>
	</div>

	<!-- Lista de tarefas  -->
	<div class="container m-4">	
		<ul class="list-group">
			<li class="list-group-item"><h5>Lista de pendencias</h5></li>
			{{range .Tarefas}}
				{{template "edit-todo" .}}
			{{end}}
		</ul>
	</div>

	<!-- Mensagens com resultado da leitura do DB -->
	<div class="container m-4">
		<ul class="list-group">
			<li class="list-group-item"><h5>Mensagens</h5></li> 
			{{ range .Mensagens }}
			<li class="list-group-item">{{ . }}</li> 
			{{ end }}
		</ul>
	</div>

	{{ template "footer" . }}

</div>

</body>
</html>