<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
	{{ template "head" . }}
</head>
<body>
<div class="container m-3">

	{{ template "navbar" . }}
	
	<div class="container m-3">	
		<h3>Lista de pendencias</h3>

		<ul class="list-group">
			{{range .Tarefas}}
				<li class="list-group-item">
					{{ if .Status}}
						<button class="btn">
							<i class="bi bi-square m-2"></i>
						</button>
					{{else}}
						<button class="btn">
							<i class="bi bi-check-square m-2"></i>
						</button>
					{{end}}
					{{.Description}}
				</li>
			{{end}}
		</ul>
		{{ template "footer" . }}
	</div>
</div>

</body>
</html>