<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
  {{ template "head" . }}
</head>
<body>
<div class="container m-3">

  {{ template "navbar" . }}
  
  <h1>Em desenvolvimento</h1>

  <ul class="list-group">
    <li class="list-group-item"><i class="bi bi-square m-2"></i>Criar migração para tarefas</li>
    <li class="list-group-item"><i class="bi bi-check-square m-2"></i>Criar nesta página formulário de nova tarefa</li>
    <li class="list-group-item">Ocultar atalhos não autorizados</li>
    <li class="list-group-item">Criar lista de privilégios</li>
    <li class="list-group-item">Verificar como criar caminhos relativos para migrações</li>
    <li class="list-group-item">Inserir imagens do bootstrap</li>
    <li class="list-group-item">deixar arquivos do bootstrap locais, não como links</li>
  </ul>
  {{ template "footer" . }}

</div>

</body>
</html>