<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.js"></script>
    <link rel="icon" type="image/x-icon" href="./static/icon-book.svg"> 

</head>
<body class="m-3">

<div class="container">
   <div class="card">
      <div class="card-header h5">
         <span>Postgres</span>
		</div>
		<div class="card-body">
         <p>Conexão com banco de dados:</p>

         <p>
            <input class="form-check-input" type="checkbox" value="" disabled>
            <label class="form-check-label" for="flexCheckDefault">
               &nbsp&nbsp{{.connection }}
            </label>
          <p>
      </div>
      <div class="card-footer">
         <div class="row">
            <div class="col-2">
               <img src="./static/icon-book.svg" class="img-fluid" alt="...">
            </div>
         </div>
         
      </div>
   </div>
</div>

</body>
</html>

