<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor simples</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.js"></script>

</head>
<body class="m-3">

<div class="container">
   <div class="card">
      <div class="card-header">
         <span>Como criar um projeto em go:</span>
		</div>
		<div class="card-body">
         <span>Abra o terminal e navegue até o diretório do seu projeto.
               Execute o comando go mod init <nome-do-módulo>, onde <nome-do-módulo> é geralmente o caminho do repositório do seu projeto (ex: github.com/seunome/meuprojeto).
                Isso criará um arquivo go.mod para gerenciar as dependências do seu projeto.
         </span>
			<ul class="list-group mt-4">
				<li class="list-group-item">go mod init com.github/teste/simple-package</li>
				<li class="list-group-item">go mod tidy</li>
			</ul>
      </div>
   </div>
</div>


</body>
</html>

