<!DOCTYPE html>
<html lang="pt-BR"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor simples</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle.js"></script>

</head>
<body class="m-3">

    <h1>Welcome to My Web Page templates!</h1>
    <h2>index.tmpl</h2>
    <p>This is a simple example of an HTML file.</p>

    <ul>
        <li>Teste de arquivo de estilos</li>
        <li>Second item</li>
        <li>Third item</li>
        {{ .title }}
    </ul>

</body>
</html>

